@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Do you need to walk? Be walked? Have something walked? Need something to walk?</p>
    <p>Look no further.</p>
</div>
